.contact {
    color: var(--black-gray);
}

.contact__header {
    margin: 3em 0;
}

.contact__bottom {
    display: flex;
    margin: 0 0 3em;
}

.contact__title {
    margin: 0 0 1em;
}

.contact__first {
    flex: 50%;
}

.contact__heading {
    font-size: 1.2rem;
}

.contact__name, .contact__email, .contact__subject, .contact__message {
    display: block;
    height: 40px;
    margin: 0 0 1.5em;
    width: 90%;
}

.contact__button {
    background: var(--america-red);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0.5em 0 0;
    padding: 0.5em 1.5em;
    text-align: center;
    transition: 0.1s;
}

.contact__button:hover {
    opacity: 0.8;
}

.contact__second {
    flex: 50%;
}

@media only screen and (max-width: 1100px) {
    .contact__header {
        font-size: 1.1rem;
        padding: 0 1em;
        text-align: center;
    }

    .contact__bottom {
        flex-direction: column;
    }

    .contact__first, .contact__second {
        margin: 0 auto;
        width: 500px;
    }

    .contact__name, .contact__email, .contact__subject, .contact__message {
        height: 50px;
        width: 100%;
    }

    .contact__button {
        margin: 0 0 3em;
    }
}

@media only screen and (max-width: 700px) {
    .contact__first, .contact__second {
        width: 400px;
    }

    .contact__name, .contact__email, .contact__subject, .contact__message {
        height: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .contact__header {
        padding: 0 0.75em;
    }

    .contact__first, .contact__second {
        padding: 0 1em;
        width: 350px;
    }
}